* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

.span_h4 {
  font-size: 14px;
}


.colors6 {
  color: red;
  font-weight: 100;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100vh;
}

html{
  min-height: -webkit-fill-available;
  -webkit-text-size-adjust: 100%;
}

.register_section {
  box-sizing: border-box;
  width: 98%;
  margin-top: 107px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 2rem auto;
  border-radius: 0.25rem;
}

.register_sections {
  box-sizing: border-box;
  width: 98%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 5px auto;
  border-radius: 0.25rem;
}

main.Home-section {
  height: 500px;
}

.register_section:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 1s ease-in;
}
.register_sections:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 1s ease-in;
}

.homeSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("./static/assets/woman-g42412a22b_1920.jpg");
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widths{
  margin: 5rem auto;
  width: 90vw;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.25rem;

}

@media (min-width: 840px) {
  .register_section {
    box-sizing: border-box;
    width: inherit;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 2rem 10rem 5rem 10rem;
    padding: 1rem;
    border-radius: 0.25rem;
  }
  .register_sections {
    box-sizing: border-box;
    width: inherit;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 5px 10rem 5rem 10rem;
    padding: 1rem;
    border-radius: 0.25rem;
  }

  .register_section:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 1s ease-in;
  }
  .register_sections:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 1s ease-in;
  }
}

select.form-select,
select.form-select:focus,
select.form-select::after {
  border: none;
  margin-left: 5rem;
}

/* @media (max-width: 1000px) {
  .form_input {
    width: 84vw;
    font-size: 0.775rem;
  }
} */

/* .div1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.game_h1{
  font-size: 24px;
  color: #fff;
} */

.h4_font {
  font-size: 16px;
}


.margins {
  margin-top: 35px;
}

.home_link,
.home_link:hover,
.home_link:focus {
  text-decoration: none;
  color: #fff;
}

/* recent */

.scrollContent {
  height: max-content;
}

section.category_p > .span {
  font-size: 30px;
}

.types_header {
  background-color: #ffff99;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cg fill='%23ffd573'%3E%3Cpolygon points='1000 -50 0 -50 500 450'/%3E%3Cpolygon points='550 500 1050 1000 1050 0'/%3E%3Cpolygon points='-50 0 -50 1000 450 500'/%3E%3Cpolygon points='0 1050 1000 1050 500 550'/%3E%3C/g%3E%3Cg fill='%23ffaa4d'%3E%3Cpolygon points='1000 -133.3 0 -133.3 500 366.7'/%3E%3Cpolygon points='633.3 500 1133.3 1000 1133.3 0'/%3E%3Cpolygon points='-133.3 0 -133.3 1000 366.7 500'/%3E%3Cpolygon points='0 1133.3 1000 1133.3 500 633.3'/%3E%3C/g%3E%3Cg fill='%23ff8026'%3E%3Cpolygon points='1000 -216.7 0 -216.7 500 283.3'/%3E%3Cpolygon points='716.7 500 1216.7 1000 1216.7 0'/%3E%3Cpolygon points='-216.7 0 -216.7 1000 283.3 500'/%3E%3Cpolygon points='0 1216.7 1000 1216.7 500 716.7'/%3E%3C/g%3E%3Cg fill='%23F50'%3E%3Cpolygon points='1000 -300 0 -300 500 200'/%3E%3Cpolygon points='800 500 1300 1000 1300 0'/%3E%3Cpolygon points='-300 0 -300 1000 200 500'/%3E%3Cpolygon points='0 1300 1000 1300 500 800'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='%23FE0' points='0 707.1 0 292.9 292.9 0 707.1 0 1000 292.9 1000 707.1 707.1 1000 292.9 1000'/%3E%3Cg fill='%23ffc800'%3E%3Cpolygon points='464.6 -242.5 -242.5 464.6 464.6 464.6'/%3E%3Cpolygon points='535.4 464.6 1242.5 464.6 535.4 -242.5'/%3E%3Cpolygon points='-242.5 535.4 464.6 1242.5 464.6 535.4'/%3E%3Cpolygon points='535.4 1242.5 1242.5 535.4 535.4 535.4'/%3E%3C/g%3E%3Cg fill='%23ffa200'%3E%3Cpolygon points='405.7 -301.4 -301.4 405.7 405.7 405.7'/%3E%3Cpolygon points='594.3 405.7 1301.4 405.7 594.3 -301.4'/%3E%3Cpolygon points='-301.4 594.3 405.7 1301.4 405.7 594.3'/%3E%3Cpolygon points='594.3 1301.4 1301.4 594.3 594.3 594.3'/%3E%3C/g%3E%3Cg fill='%23ff7b00'%3E%3Cpolygon points='346.8 -360.3 -360.3 346.8 346.8 346.8'/%3E%3Cpolygon points='653.2 346.8 1360.3 346.8 653.2 -360.3'/%3E%3Cpolygon points='-360.3 653.2 346.8 1360.3 346.8 653.2'/%3E%3Cpolygon points='653.2 1360.3 1360.3 653.2 653.2 653.2'/%3E%3C/g%3E%3Cg fill='%23F50'%3E%3Cpolygon points='287.9 -419.2 -419.2 287.9 287.9 287.9'/%3E%3Cpolygon points='712.1 287.9 1419.2 287.9 712.1 -419.2'/%3E%3Cpolygon points='-419.2 712.1 287.9 1419.2 287.9 712.1'/%3E%3Cpolygon points='712.1 1419.2 1419.2 712.1 712.1 712.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  cursor: pointer;
}

.types:first-of-type {
  margin-top: 10px;
}

.types {
  font-size: 11px;
  color: #fff;
}

#demo:checked {
  background: rgb(187, 187, 23);
  color: white;
}

.types:active {
  background: #219906;
  color: #fff;
  padding: 5px;
}

.types:focus,
.types:hover {
  border: none;
  border-radius: 0.2rem;
  padding: 5px;
  cursor: pointer;
  background: #219906;
  font-size: 15px;
}

.yellow {
  color: rgb(187, 187, 23) !important;
}

.d {
  visibility: hidden !important;
}

.game_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
}

.span1 {
  font-size: 13px;
}

section.category_p {
  font-weight: 300;
  padding-top: 5px;
  cursor: pointer;
}

section.category_p:hover,
div.category_p:focus {
  background: #146427;
}

.span {
  font-size: 30px;
}

p.category_p {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(184, 180, 180);
  color: #fff;
}

p.category_p {
  font-weight: 300;
  padding-top: 5px;
  cursor: pointer;
}

.color_white {
  color: #fff;
  font-size: 11px;
}

/* .game_flex:hover, .game_flex:focus{
    background: #146427;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   transition: 1s ease-in;
} */

.item {
  font-size: 15px;
}

.bet_header_sections {
  margin-top: 107px !important;
  margin-bottom: 50px;
}

.lottoExpress_how {
  display: flex;
  border: 5px solid rgb(182, 182, 72);
  border-radius: 0.5rem;
  justify-content: space-between;
  margin-top: 10px;
}

.lottoExpress_how > h3 {
  font-size: 25px;
  padding: 20px;
}

.lottoExpress_how > .spans {
  padding-right: 55px;
  padding-top: 15px;
  cursor: pointer;
  font-size: 50px;
}

.val_section {
  display: flex;
  justify-content: center;
  margin: 5.9rem auto;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover {
  background: none;
  border: none;
  color: gray;
}

.nav_dropdown.click {
  margin-left: 5rem;
}

.grey {
  background: yellow !important;
  color: #fff;
}

.timer {
  font-size: 15px;
}

/* game_check */

@media only screen and (min-width: 1001px) {
  section.game_section {
    margin-top: 5rem;
    margin-bottom: 20px;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

  .footer_pay{
  width: 4rem !important;
  height: 23px !important;
  margin-right: 21px;
}

  .boxplay {
  border-radius: 8px;
  padding: 5px;
  background: rgb(255, 253, 253);
  display: block !important;
  margin: 5px !important;
  color: #096115;
  height: 41%;
}

  .choose{
    display: none;
  }

  .colors {
  color: rgb(207, 54, 54);
  margin-top: 3px;
  cursor: pointer;
}

.white {
  color: #fff;
  font-size: 12px;
  margin-left: 0.5rem;
}

.check_drop{
  font-size: 12px !important;
}

  .cards:nth-child(1) {
    margin-right: 2px;
  }
  .cards:nth-child(2) {
    margin-right: 2px;
  }

  .cards:nth-child(3) {
    margin-right: 2px;
  }

  .texts {
    display: flex;
    flex-wrap: wrap;
    margin-left: 11px !important;
  }

  .text-centers {
    width: 370px;
  }

  .coupon_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #096115;
    border-radius: 0.5rem;
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 10px;
  }

  a.game_links {
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
  }

  .scroller {
    overflow-y: scroll;
  }

  .scroll_game {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  section.category {
    border-top: 1px solid rgb(184, 180, 180);
    padding-top: 5px;
    color: #fff;
  }

  .game_svg {
    margin-top: 2rem;
  }

  .modal_form {
    width: 47em !important;
    margin-left: 0 !important;
    margin-bottom: 10px;
  }

  .types_header {
    font-size: 19px;
  }

  .express_p {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: fit-content;
  }

  .width {
    width: inherit;
    border-radius: 0.3rem;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .width:focus,
  .width:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: ease-in 2s;
  }

  .submit_section {
    width: 70%;
    padding: 15px;
    margin: 0.8rem auto;
    border: 1px solid white;
    border-radius: 0.3rem;
    box-sizing: content-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .register_btn {
    color: #28a745 !important;
    border: 1px solid #28a745;
    font-size: 0.875rem;
    border-radius: 0.15rem;
    padding: 0.55rem 0.5rem;
    margin-top: 5px !important;
  }

  .express_border {
    border-right: 5px solid #28a745;
  }

  main.express_section {
    margin: 2rem;
    width: 430px;
  }

  .lotto_btns {
    width: 3%;
    padding: 0.3rem 1.3rem 0.5rem 0.5rem;
    border: 1px solid grey;
    border-radius: 0.2rem;
    background: none;
    margin: 5px;
  }

  .game_btn {
    display: inline;
    width: 30px;
    font-size: 15px;
    background: none;
    border-radius: 50%;
    margin: 2px;
    background: rgb(82, 79, 79);
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
  }

  .game_type_desc {
    margin-top: 8rem;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
  }

  .bets_btn {
    margin-left: 10rem;
    margin-bottom: 15px;
  }

  .betHistory_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.6rem;
    font-size: 11px;
    border: 1px solid grey;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background: #28a745;
  }

  .p_bets {
    padding-top: 0.2rem;
    color: #fff;
    margin-right: 0.4rem;
    padding-right: 0.4rem;
    border-right: 1px solid #fff;
  }

  .p_bets:last-child {
    border: none;
  }

  .bets_span {
    color: yellow;
  }

  .small {
    margin-left: 10px;
  }

  .sub_div {
    border: 1px solid #28a745;
    width: 30vw;
    border-radius: 0.3rem;
    padding: 5px;
    margin-bottom: 2px;
    margin-left: 5rem;
  }

  .h1Div {
    width: 500px;
    padding: 20px 70px 5px 70px;
  }

  .home {
    font-size: 20px;
    color: #fff;
    font-weight: 200;
  }

  .home_h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 800;
  }

  .margin {
    margin-left: 5rem;
    margin-top: 5px;
  }

  .funds_section {
    width: 50vw;
  }

  .span_stack {
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    color: #28a745;
  }

  .form_section_div {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 0.35rem;
    padding: 15px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 5% auto;
    margin-bottom: 50px;
  }

  .img_widths {
    width: 12vw;
  }

  .img_widths:first-of-type {
    margin-left: 4rem;
  }

  .second_article {
    width: 80vw;
    margin: 2rem auto;
  }

  .second_article > .home_dives {
    display: flex;
    border: 5px solid rgb(182, 182, 72);
    border-radius: 0.5rem;
    margin: 10px;
  }

  .home_dives > h1 {
    align-items: center;
    font-size: 25px;
    padding: 55px;
  }

  .game_article {
    width: 30vw;
    margin: 5rem auto;
  }

  .choose_game {
    display: none;
  }

  #arrowAnim {
    width: 8vw;
    height: -1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    width: 0vw;
    height: 2vw;
    border: 1vw solid;
    border-color: red transparent transparent red;
    transform: rotate(-45deg);
  }

  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
  }

  .delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }

  .bottom {
    display: none;
  }

  .bottoms {
    display: none;
  }

  

  .game_header {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin-left: 2rem;
  }

  .sidebar {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 100;
    height: 100%;
    border-right: 1px solid grey;
  }

  .amount_section {
    width: 60vw;
    margin: 7rem auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.4rem;
    padding: 20px;
  }

  .sidebar_list {
    list-style: none;
  }

  .register_game_section > h6 {
    color: #fff;
    font-weight: 100;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .display {
    display: none;
  }

  .show1 {
    display: inline;
  }

  .win {
    width: 100%;
    height: 80px;
    text-align: center;
    background: #096115;
    color: #eaee1f;
    font-size: 46px;
    font-weight: bolder;
    padding: 5px 30px 5px 5px;
  }

  .balx {
    margin: 8px !important;
    width: 27px !important;
    height: 22px !important;
    padding: 3px 0px !important;
    border-radius: 5px !important;
    text-align: center !important;
    font-size: 12px !important;
  }

  .thew {
    text-align: center;
    width: 30%;
    font-size: 13px;
  }
  .thew1 {
    text-align: center;
    width: 40%;
    padding: 20px;
    font-size: 13px;
  }

  .backgs {
    font-size: 15px;
  }

  .scrollers {
    overflow-y: scroll;
    height: 450px;
  }

  .backg {
    box-sizing: content-box;
    padding: 0.2rem;
    background: #fff;
    border-radius: 0.3rem;
  }

  .get_line {
    border-radius: 0.35rem;
    padding: 5px;
    font-size: 11px !important;
    margin-bottom: 10px;
    background: #0b4f14;
  }

  .img {
    width: 100px;
    height: 100px;
  }

  .fredtwo {
    font-size: 1em;
    font-weight: 900 !important;
  }

  .h4_type {
    font-size: 16px;
  }

.actives {
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  text-decoration: none;
  border-radius: 0.5rem;
}
.activated {
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  text-decoration: none;
  border-radius: 0.5rem;
}

.nav_img{
  width:200px;
   height:60px
}

  .display{
    display: none !important;
  }

  .c-sidebar{
    display: none !important;
  }

  .pr-0{
    display: none !important;
  }
}

@media only screen and (max-width: 1001px) and (min-width: 766px) {
  section.game_section {
    margin-top: 5rem;
    margin-bottom: 20px;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

  .footer_pay{
  width: 4rem !important;
  height: 23px !important;
  margin-right: 21px;
}

    .pr-0{
    display: none !important;
  }

  .c-sidebar{
    display: none !important;
  }

  .display{
    display: none !important;
  }

  .boxplay {
  border-radius: 8px;
  padding: 5px;
  background: rgb(255, 253, 253);
  display: block !important;
  margin: 5px !important;
  color: #096115;
  height: 41%;
}

  .nav_img{
    width:150px;
    height:43px
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat;
}

  .choose{
    display: none !important;
  }

  .colors {
  color: rgb(207, 54, 54);
  margin-top: 3px;
  cursor: pointer;
}

.white {
  color: #fff;
  font-size: 12px;
  margin-left: 0.5rem;
}

.check_drop{
  font-size: 12px !important;
}

    .lotto{
  margin-left: 1.6rem;
  margin-top: 20px;
  font-weight: 800;
  font-size: 20px;
}

.new{
  border: 1px solid red;
  color: #fff;
  background: red;
  padding: 10px;
  position: absolute;
  left: 26%;
  top: 52%;
  /* z-index: 2; */
}

.img_homes{
  width: 8rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
}
.img_homes:hover, .img_homes:focus{
  width: 8rem;
  cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50%;
}
/* .img_home_div{
    position: absolute;
  left: 1.25em;
  top: 25em;
} */
.img_home_div{
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 50%;
  height: 100vh;
  margin-bottom: 70px;
}

.img_div:nth-of-type(1){
  margin-bottom: 69px;
}
.img_div:nth-of-type(2){
  margin-bottom: 120px;
}
.img_div:nth-of-type(3){
  margin-bottom: 120px;
}

 /* .home_bg{
       height: 100vh;
    overflow: hidden;
    background: #f0ece1;
    background-image: url("./static/assets/Desktop.png");
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position-x: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
 } */

  .home_bg {
  background-image: url("./static/assets/Desktop.png");
  height: 79vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 41px;
  position: relative;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.actives {
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  text-decoration: none;
  border-radius: 0.5rem;
}
.activated {
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  text-decoration: none;
  border-radius: 0.5rem;
}

  .cards:nth-child(1) {
    margin-right: 10px;
  }
  .cards:nth-child(2) {
    margin-right: 10px;
  }

  .cards:nth-child(3) {
    margin-right: 10px;
  }

  .texts {
    display: flex;
    width: 73vw;
    flex-wrap: wrap;
    margin-left: 11px !important;
  }

  .text-centers {
    width: 370px;
  }

  .coupon_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #096115;
    border-radius: 0.5rem;
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 10px;
  }

  a.game_links {
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
  }

  .scroller {
    overflow-y: scroll;
  }

  .scroll_game {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  section.category {
    border-top: 1px solid rgb(184, 180, 180);
    padding-top: 5px;
    color: #fff;
  }

  .game_svg {
    margin-top: 2rem;
  }

  .modal_form {
    width: 47em !important;
    margin-left: 0 !important;
    margin-bottom: 10px;
  }

  .types_header {
    font-size: 19px;
  }

  .express_p {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: fit-content;
  }

  .width {
    width: inherit;
    border-radius: 0.3rem;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .width:focus,
  .width:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: ease-in 2s;
  }

  .submit_section {
    width: 70%;
    padding: 15px;
    margin: 0.8rem auto;
    border: 1px solid white;
    border-radius: 0.3rem;
    box-sizing: content-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .register_btn {
    color: #28a745 !important;
    border: 1px solid #28a745;
    font-size: 0.875rem;
    border-radius: 0.15rem;
    padding: 0.55rem 0.5rem;
    margin-top: 5px !important;
  }

  .express_border {
    border-right: 5px solid #28a745;
  }

  main.express_section {
    margin: 2rem;
    width: 430px;
  }

  .lotto_btns {
    width: 3%;
    padding: 0.3rem 1.3rem 0.5rem 0.5rem;
    border: 1px solid grey;
    border-radius: 0.2rem;
    background: none;
    margin: 5px;
  }

  .game_btn {
    display: inline;
    width: 30px;
    font-size: 15px;
    background: none;
    border-radius: 50%;
    margin: 2px;
    background: rgb(82, 79, 79);
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
  }

  .game_type_desc {
    margin-top: 8rem;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
  }

  .bets_btn {
    margin-left: 10rem;
    margin-bottom: 15px;
  }

  .betHistory_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.6rem;
    font-size: 11px;
    border: 1px solid grey;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background: #28a745;
  }

  .p_bets {
    padding-top: 0.2rem;
    color: #fff;
    margin-right: 0.4rem;
    padding-right: 0.4rem;
    border-right: 1px solid #fff;
  }

  .p_bets:last-child {
    border: none;
  }

  .bets_span {
    color: yellow;
  }

  .small {
    margin-left: 10px;
  }

  .sub_div {
    border: 1px solid #28a745;
    width: 30vw;
    border-radius: 0.3rem;
    padding: 5px;
    margin-bottom: 2px;
    margin-left: 5rem;
  }

  .h1Div {
    width: 500px;
    padding: 20px 70px 5px 70px;
  }

  .home {
    font-size: 20px;
    color: #fff;
    font-weight: 200;
  }

  .home_h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 800;
  }

  .margin {
    margin-left: 5rem;
    margin-top: 5px;
  }

  .funds_section {
    width: 50vw;
  }

  .span_stack {
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    color: #28a745;
  }

  .form_section_div {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 0.35rem;
    padding: 15px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 5% auto;
    margin-bottom: 50px;
  }

  .img_widths {
    width: 12vw;
  }

  .img_widths:first-of-type {
    margin-left: 4rem;
  }

  .second_article {
    width: 80vw;
    margin: 2rem auto;
  }

  .second_article > .home_dives {
    display: flex;
    border: 5px solid rgb(182, 182, 72);
    border-radius: 0.5rem;
    margin: 10px;
  }

  .home_dives > h1 {
    align-items: center;
    font-size: 25px;
    padding: 55px;
  }

  .game_article {
    width: 30vw;
    margin: 5rem auto;
  }

  .choose_game {
    display: none;
  }

  #arrowAnim {
    width: 8vw;
    height: -1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    width: 0vw;
    height: 2vw;
    border: 1vw solid;
    border-color: red transparent transparent red;
    transform: rotate(-45deg);
  }

  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
  }

  .delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }

  .bottom {
    display: none;
  }

  .bottoms {
    display: none;
  }

  .game_header {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin-left: 2rem;
  }

  .sidebar {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 100;
    height: 100%;
    border-right: 1px solid grey;
  }

  .amount_section {
    width: 60vw;
    margin: 7rem auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.4rem;
    padding: 20px;
  }

  .sidebar_list {
    list-style: none;
  }

  .register_game_section > h6 {
    color: #fff;
    font-weight: 100;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .display {
    display: none;
  }

  .show1 {
    display: inline;
  }

  .win {
    width: 100%;
    height: 80px;
    text-align: center;
    background: #096115;
    color: #eaee1f;
    font-size: 46px;
    font-weight: bolder;
    padding: 5px 30px 5px 5px;
  }

  .balx {
    margin: 8px !important;
    width: 27px !important;
    height: 22px !important;
    padding: 3px 0px !important;
    border-radius: 5px !important;
    text-align: center !important;
    font-size: 12px !important;
  }

  .thew {
    text-align: center;
    width: 30%;
    font-size: 13px;
  }
  .thew1 {
    text-align: center;
    width: 40%;
    padding: 20px;
    font-size: 13px;
  }

  .backgs {
    font-size: 15px;
  }

  .scrollers {
    overflow-y: scroll;
    height: 450px;
  }

  .backg {
    box-sizing: content-box;
    padding: 0.2rem;
    background: #fff;
    border-radius: 0.3rem;
  }

  .get_line {
    border-radius: 0.35rem;
    padding: 5px;
    font-size: 11px !important;
    margin-bottom: 10px;
    background: #0b4f14;
  }

  .img {
    width: 100px;
    height: 100px;
  }

  .fredtwo {
    font-size: 1em;
    font-weight: 900 !important;
  }

  .h4_type {
    font-size: 16px;
  }
}

@media only screen and (max-width: 765px) and (min-width: 402px) {
  .cards:nth-child(2) {
    margin-bottom: 10px;
  }

  .soft{
    padding-top: 150px;
  }

  .text-reset{
    font-size: 11px;
  }

  .text-reset:hover, .text-reset:focus{
    text-decoration: underline;
  }

  .instant_pay{
    display: none !important;
  }

  .span_h4 {
  font-size: 14px;
  color: #fff;
}


  .boxplay {
  border-radius: 8px;
  /* padding: 5px; */
  background: #000;
  display: block !important;
  /* margin: 5px !important; */
  color: #096115;
  height: 41%;
}

  .select_game{
    width: 125px !important;
  }

  .form_control{
    height: 32px !important;
  }

  .game_head{
    display: none !important;
  }

  .nav_img{
    width:150px;
    height:43px
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat;
}

  .colors {
    color: rgb(207, 54, 54);
    margin-top: 3px;
    font-size: 14px;
    cursor: pointer;
  }

.white {
  color: #fff;
  font-size: 12px;
  margin-left: 0.5rem;
}

.check_drop{
  font-size: 12px !important;
}

.lotto{
  margin-left: 1.3rem;
  margin-top: 15px;
  font-weight: 800;
  font-size: 15px;
}

.new{
  border: 1px solid red;
  color: #fff;
  background: red;
  font-size: 12px;
  width: 40px;
  padding: 5px;
  position: absolute;
  left: 46%;
  top: 64%;
  /* z-index: 2; */
}

.img_homes{
  width: 5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
}

.img_homes:hover, .img_homes:focus{
  width: 5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50%;
}

.img_home_div{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 100vh;
  margin-bottom: 70px;
}

.img_div:nth-of-type(1){
  padding-left: 10px;
  padding-bottom: 197px;
}
.img_div:nth-of-type(2){
  padding-bottom: 243px;
}
.img_div:nth-of-type(3){
  padding-bottom: 243px;
}

 .home_bg {
    background-image: url('./static/assets/Mobile.png');
    height: 85vh;
    margin-top: 38px;
    background-repeat: no-repeat;
    background-size: cover;
}

  .cards:nth-child(3) {
    margin-top: 10px;
  }

  .actives {
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  width: 87px;
  text-decoration: none;
  border-radius: 0.5rem;
}

.activated {
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  text-decoration: none;
  border-radius: 0.5rem;
}

  .texts {
    width: 100vw;
  }

  .text-center {
    width: 100vw;
  }

  .display {
    display: none;
  }

  .scrollers {
    overflow-y: scroll;
    height: 400px;
  }

  .coupon_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #096115;
    border-radius: 0.5rem;
    width: 80vw;
    margin-left: 5%;
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 10px;
  }

  .coupon_divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #096115;
    border-radius: 0.5rem;
    width: 80vw;
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 10px;
  }

  .img {
    width: 50px;
  }

  .fredtwo {
    font-size: 1em;
    font-weight: 900 !important;
  }

  .h4_type {
    font-size: 11px;
  }

  .pd {
    padding: 0;
  }

  .get_line {
    border-radius: 0.35rem;
    padding: 5px;
    font-size: 11px !important;
    margin-bottom: 10px;
    background: #0b4f14;
    margin: 5px;
  }

  a.game_links {
    box-sizing: border-box;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
  }

  .timer {
    font-size: 10px;
  }

  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    margin-right: -10px;
  }

  .choose_game {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
  }

  .sidebar_list {
    list-style: none;
    display: flex;
    font-size: 12px;
  }

  .game_hamburger {
    width: 30px;
    color: #fff;
  }

  .modal_p {
    font-size: 12px;
    color: red;
  }

  .modal-footer.modal_footer > * {
    margin: 0;
  }

  .game_header {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin-left: 0.5rem;
  }

  .amount_section {
    width: 90vw;
    margin: 20px 1.2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.4rem;
    padding: 20px;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 100;
  }

  section.category:first-child {
    border-top: none;
  }

  section.category {
    border-top: 1px solid rgb(184, 180, 180);
    padding-top: 5px;
  }

  #arrowAnim {
    width: 8vw;
    height: -1em;
    display: flex;
    margin-top: 7px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    width: 0vw;
    height: 2vw;
    border: 1vw solid;
    border-color: red transparent transparent red;
    transform: rotate(-45deg);
  }

  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
  }

  .delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }

  section.game_section {
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }

  .game_svg {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: row;
  }
  .home_dives > h1 {
    align-items: center;
    font-size: 13px;
    padding: 55px;
  }
  .home_img {
    width: 45vw;
    padding-right: 13px;
  }

  .game_article {
    width: 30vw;
    margin: 1em;
  }

  .img_widths {
    width: 15vw;
  }

  .second_article {
    width: 97vw;
    margin: 2rem auto;
  }

  .second_article > .home_dives {
    display: flex;
    border: 5px solid rgb(182, 182, 72);
    border-radius: 0.5rem;
    margin: 10px;
  }

  .h1Div {
    width: 50vw;
    padding: 15px;
  }

  .home {
    font-size: 12px;
    color: #fff;
    font-weight: 200;
  }

  .home_h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 800;
  }

  .svg_imgs_modal {
    width: 50vw;
    margin-top: 55px;
    margin: 1rem auto;
  }

  .modal_form {
    width: 90vw !important;
    margin-left: 0 !important;
    margin-bottom: 10px;
  }

  .types_header {
    font-size: 12px;
  }

  .sec_width {
    width: 100vw;
  }

  .width {
    margin-left: 0.5rem;
    margin-bottom: 1.2rem;
    border-radius: 0.3rem;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .header_section {
    width: 100vw;
  }

  .width:focus,
  .width:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: ease-in 2s;
  }

  .input_widths {
    width: 80vw !important;
  }

  /* .funds_section{
    width: 50vw;
} */

  .span_stack {
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    color: #28a745;
  }

  .form_section_div {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 0.35rem;
    padding: 15px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 5% auto;
    margin-bottom: 50px;
  }

  .lotto_btns {
    width: 9vw;
    padding: 0.3rem;
    border: 1px solid grey;
    border-radius: 0.2rem;
    background: none;
    margin: 2px;
  }

  .bets_btn {
    margin-left: 0.2rem;
    margin-bottom: 3.5px;
  }

  main.express_section {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .nav_img {
    margin-left: -24px;
  }

  .express_p {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 0.2rem;
    padding: 0.8rem;
    margin-left: 10px;
    width: fit-content;
  }

  .smalls {
    margin-left: auto;
    width: 97vw;
    justify-content: center;
    align-items: center;
  }
  /* 
    .form-control{
       width: 360px;
       margin-left: 7px;
    } */

  /* .small{
    margin-left: auto;
    width: 97vw;
    justify-content: center;
    align-items: center;
} */
  .small {
    margin-left: 4px;
    width: 400px;
    justify-content: center;
    align-items: center;
  }

  .game_btn {
    display: inline;
    width: 40px;
    font-size: 14px;
    height: 25px;
    background: none;
    border-radius: 40%;
    margin: 2px;
    background: rgb(82, 79, 79);
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
  }
  /* .game_btn{
   display: inline;
   width: 9vw;
   font-size: 14px;
   height: 25px;
   background: none;
   border-radius: 40%;
   margin: 2px;
   background: rgb(82, 79, 79);
   flex-direction: column;
   color: #fff;
   align-items: center;
   justify-content: center;
} */

  .h5_small {
    font-size: 10px;
  }

  .betHistory_section {
    justify-content: center;
    align-items: center;
    width: 94%;
    flex-direction: column;
    margin: 0.2rem;
    font-size: 10px;
    border: 1px solid grey;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background: #28a745;
  }

  .sub_div {
    border: 1px solid #28a745;
    border-radius: 0.3rem;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .margin {
    margin-left: 1px;
    margin-top: 10px;
  }

  .p_bets {
    padding-top: 0.2rem;
    color: #fff;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #fff;
    font-size: 11px;
  }

  .p_bets:last-child {
    border: none;
  }

  .bets_span {
    color: yellow;
  }

  .game_type_desc {
    margin-left: 1.2rem;
    margin-top: 1rem;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
  }

  /* .bottom {
    margin-top: 70px;
    position: fixed;
    display: flex;
    bottom: 0;
    z-index: 1000;
    flex: 1 0 auto;
    width: 100%;
    background: #145723;
    color: #fff;
    flex-direction: row;
  } */
  .bottom {
    margin-top: 70px;
    /* border-top: 2px solid #e7bc15; */
    position: fixed;
    /* display: flex; */
    bottom: 0;
    z-index: 1000;
    /* flex: 1 0 auto; */
    width: 100%;
    background: #145723;
    color: #fff;
    flex-direction: row;
  }

  .scrollbar {
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .scroll_game {
    overflow-x: hidden;
    overflow-y: scroll;
    height: inherit !important;
    max-height: 75vh !important;
  }

  [class*="c-sidebar"] {
    margin-top: 38px;
    margin-left: 19px;
    width: 97%;
    bottom: 0;
    min-width: 20rem;
    position: fixed;
    top: 40px;
    z-index: 1;
  }

  [class*="c-sidebar"][class*="--bet-slip"].is-open {
    right: 8px;
    bottom: 0;
    box-shadow: -4px 4px 10px rgb(0 0 0 / 2%);
  }

  [class*="c-sidebar"][class*="--bet-slip"] {
    background: #3d3e3f;
    color: #2b2c2d;
    right: -100%;
    transition: right 0.2s ease-out;
  }

  .game_item {
    padding: 2px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #eaee1f;
    flex: 1;
    cursor: pointer;
  }
  _ .game_item:focus,
  .game_item:hover {
    background: rgba(209, 209, 204, 0.816) !important;
  }

  .select_item {
    font-size: 11px;
  }

  .bet_count {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 0.71429rem;
    font-size: 13px;
    font-size: 0.92857rem;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 33vw;
    background-color: #375366;
    color: #fff;
  }

  .select_icon {
    font-size: 25px;
  }

  .small_message {
    font-size: 11px;
    margin: 10px;
  }

  .small_class {
    margin-right: 10px;
  }

  .register_btn {
    color: #28a745 !important;
    border: 1px solid #28a745;
    font-size: 0.875rem;
    border-radius: 0.15rem;
    padding: 0.25rem 0.5rem;
    margin-top: 10px !important;
  }

  .navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    margin-right: -10px;
  }

  .submit_section {
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0.4rem;
    margin-bottom: 0.9rem;
    border: 1px solid white;
    border-radius: 0.3rem;
  }

  .register_game_section > h6 {
    color: #fff;
    font-weight: 100;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .show1 {
    display: none;
  }

  .win {
    width: 100%;
    height: inherit;
    text-align: center;
    background: #096115;
    color: #eaee1f;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
  }

  .balx {
    margin: 4px !important;
    width: 29px !important;
    height: 30px !important;
    background: #fff;
    padding: 3px 0px !important;
    border-radius: 5px !important;
    text-align: center !important;
    margin-left: auto;
    font-size: 11px !important;
  }

  .thew {
    text-align: center;
    width: 30%;
    font-size: 13px;
  }
  .thew1 {
    text-align: center;
    width: 40%;
    padding: 20px;
    font-size: 13px;
  }

  .backgs {
    font-size: 9px;
  }

  .backg {
    box-sizing: content-box;
    padding: 0.2rem;
    background: #fff;
    border-radius: 0.3rem;
  }

  .pd {
    padding: 0;
  }

  .bet_header_sections {
    margin-top: 100px !important;
    margin-bottom: 100px;
  }

  .footer_pay {
    width: 2.5rem !important;
    height: 21px !important;
    margin-right: 20px;
    padding-bottom: 5px;
}
}

@media only screen and (max-width: 359px) {
  .cards:nth-child(2) {
    margin-bottom: 10px;
  }

  .footer_pay {
    width: 2.5rem !important;
    height: 21px !important;
    margin-right: 20px;
    padding-bottom: 5px;
}

  .soft{
    padding-top: 150px;
  }

  .span_h4 {
  font-size: 14px;
  color: #fff;
}

  .text-reset{
    font-size: 7px;
  }

  .text-reset:hover, .text-reset:focus{
    text-decoration: underline;
  }


    .instant_pay{
    display: none !important;
  }

  .boxplay {
  border-radius: 8px;
  padding: 5px;
  background: #000;
  display: block !important;
  margin: 5px !important;
  color: #096115;
  height: 41%;
}

  .select_game{
    width: 125px !important;
  }


  .form_control{
    height: 32px !important;
  }

    .nav_img{
    width:150px;
    height:43px
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat;
}

  .game_head{
    display: none !important;
  }

      .colors {
  color: rgb(207, 54, 54);
  margin-top: 3px;
    font-size: 12px;
  cursor: pointer;
}

.white {
  color: #fff;
  font-size: 12px;
  margin-left: 0.5rem;
}



.check_drop{
  font-size: 12px !important;
}


.gameShowName:hover, .gameShowName:focus {
    border: 2px solid #28a745;
    padding: 10px;
    background: #28a745;
    color: white;
    font-size: 12px;
    width: 138px;
    height: 36px;
    border-radius: 0.4rem;
}

.yellow{
  font-size: 12px;
  padding-top: 10px;
}
  
    .lotto{
  margin-left: .2rem;
  margin-top: 15px;
  font-weight: 800;
  font-size: 15px;
}

  /* .betHistory_section {
    justify-content: center;
    align-items: center;
    width: 94%;
    flex-direction: column;
    margin: 0.2rem;
    font-size: 10px;
    border: 1px solid grey;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background: #28a745;
  }

    .p_bets {
    padding-top: 0.2rem;
    color: #fff;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #fff;
  }

  .p_bets:last-child {
    border: none;
  }

  .bets_span {
    color: yellow;
  } */

.new{
  border: 1px solid red;
  color: #fff;
  background: red;
  font-size: 12px;
  width: 40px;
  padding: 5px;
  position: absolute;
  left: 47%;
  top: 81%;
  /* z-index: 2; */
}

.img_homes{
  width: 4rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
}
.img_homes:hover, .img_homes:focus{
  width: 4rem;
  cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50%;
}
/* .img_home_div{
    position: absolute;
  left: 1.25em;
  top: 25em;
} */
.img_home_div{
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 90%;
  height: 100vh;
  margin-bottom: 70px;
}

.img_div:nth-of-type(1){
  padding-left: 10px;
  padding-bottom: 2px;
}
.img_div:nth-of-type(2){
  padding-bottom: 45px;
}
.img_div:nth-of-type(3){
  padding-bottom: 45px;
}

  .home_bg {
  background-image: url("./static/assets/Mobile.png");
  height: 87vh;
  margin-top: 21px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

    .betHistory_section {
    justify-content: center;
    align-items: center;
    width: 94%;
    flex-direction: column;
    margin: 0.2rem;
    font-size: 10px;
    border: 1px solid grey;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background: #28a745;
  }

    .p_bets {
    padding-top: 0.2rem;
    color: #fff;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #fff;
    font-size: 11px;
  }

  .p_bets:last-child {
    border: none;
  }

  .bets_span {
    color: yellow;
  }

    .actives {
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  width: 87px;
  text-decoration: none;
  border-radius: 0.5rem;
}
    .activated{
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  text-decoration: none;
  border-radius: 0.5rem;
}

  .cards:nth-child(3) {
    margin-top: 10px;
  }

  .texts {
    width: 100vw;
  }

  .text-center {
    width: 100vw;
  }

  .balx {
    margin: 2px !important;
    width: 29px !important;
    height: 30px !important;
    padding: 3px 0px !important;
    background: #fff;
    border-radius: 5px !important;
    text-align: center !important;
    font-size: 11px !important;
  }

  .coupon_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #096115;
    border-radius: 0.5rem;
    width: 80vw;
    margin-left: 5%;
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 10px;
  }
  .coupon_divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #096115;
    border-radius: 0.5rem;
    width: 80vw;
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 10px;
  }

  .scrollers {
    overflow-y: scroll;
    height: 400px;
  }

  a.game_links {
    box-sizing: border-box;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
  }

  .timer {
    font-size: 10px;
  }

  .navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    margin-right: -10px;
  }

  .win {
    width: 100%;
    height: inherit;
    text-align: center;
    background: #096115;
    color: #eaee1f;
    font-size: 17px;
    font-weight: bolder;
    padding: 5px 30px 5px 5px;
  }



  .show1 {
    display: none;
  }

  .scrollbar {
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .scroll_game {
    overflow-x: hidden;
    overflow-y: scroll;
    height: inherit !important;
    max-height: 75vh !important;
  }

  [class*="c-sidebar"] {
    margin-top: 38px;
    /* margin-left: 20px; */
    width: 97%;
    bottom: 0;
    min-width: 20rem;
    position: fixed;
    top: 40px;
    z-index: 1;
    transition: right 0.2s ease-out;
  }

  /* .bottom {
    margin-top: 70px;
    position: fixed;
    display: flex;
    bottom: 0;
    z-index: 1000;
    flex: 1 0 auto;
    width: 100%;
    border: 1px solid #eaee1f;
    background: #145723;
    color: #fff;
    flex-direction: row;
  } */
  .bottom {
    margin-top: 70px;
    position: fixed;
    /* display: flex; */
    bottom: 0;
    z-index: 1000;
    /* flex: 1 0 auto; */
    width: 100%;
    border: 1px solid #eaee1f;
    background: #145723;
    color: #fff;
    flex-direction: row;
  }

  .play_sec{
    font-size: 10px !important;
  }

    .smaller{
    height: 29px !important;
  }

  .getLogged > .select_item{
    font-size: 8px;
  }

  .game_item {
    padding: 2px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border: 1px solid #eaee1f;
    cursor: pointer;
  }
  _ .game_item:focus {
    color: rgb(221, 221, 118);
  }

  .select_item {
    font-size: 8px;
  }

  .bet_count {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 0.71429rem;
    font-size: 13px;
    font-size: 0.92857rem;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 33vw;
    background-color: #375366;
    color: #fff;
  }

  .select_icon {
    font-size: 25px;
  }

  .select_item1 {
    font-size: 11px;
  }

  .small {
    margin-left: 0.5rem;
    width: 97vw;
    justify-content: center;
    align-items: center;
  }

  .game_header {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin-left: 0.5rem;
    padding-top: 0.25rem;
  }

  .game_type_desc {
    margin-left: 1.2rem;
    margin-top: 1rem;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
  }

  .register_game_section > h6 {
    color: #fff;
    font-weight: 100;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  .nav_img {
    margin-left: -24px;
  }

  .h5_small {
    font-size: 12px;
  }

  .express_p {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 0.2rem;
    padding: 0.8rem;
    margin-left: 10px;
    width: fit-content;
  }

  /* .form-control {
    width: 360px;
    margin-left: 7px;
  } */

  .game_svg {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .nav_form {
    margin-left: -10px;
  }

  .register_btn {
    color: #28a745 !important;
    border: 1px solid #28a745;
    font-size: 0.875rem;
    border-radius: 0.15rem;
    padding: 0.25rem 0.5rem;
    margin-top: 10px !important;
  }

  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    margin-right: -10px;
  }

  .smalls {
    margin-left: 1rem;
    width: 97vw;
    justify-content: center;
    align-items: center;
  }

  .lotto_btns {
    width: 9vw;
    padding: 0.3rem;
    border: 1px solid grey;
    border-radius: 0.2rem;
    background: none;
    margin: 2px;
  }

  .game_hamburger {
    width: 30px;
    color: #fff;
  }
  /* 
  .form-control {
    width: 85vw;
    margin-left: 0.5rem;
  } */

  #arrowAnim {
    width: 8vw;
    height: -1em;
    display: flex;
    margin-top: 7px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    width: 0vw;
    height: 2vw;
    border: 1vw solid;
    border-color: red transparent transparent red;
    transform: rotate(-45deg);
  }

  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
  }

  .delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }

  .game_btn {
    display: inline;
    width: 9vw;
    font-size: 14px;
    height: 25px;
    background: none;
    border-radius: 40%;
    margin: 2px;
    background: rgb(82, 79, 79);
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
  }

  .display {
    display: none;
  }

  .get_line {
    border-radius: 0.35rem;
    padding: 5px;
    font-size: 11px !important;
    margin-bottom: 10px;
    background: #0b4f14;
  }

  .svg_imgs_modal {
    width: 50vw;
    margin-top: 55px;
    margin: 1rem auto;
  }

  p.game_links {
    box-sizing: border-box;
    color: rgb(182, 192, 43);
    margin-top: 5px;
    font-size: 11px;
    text-decoration: none;
  }

  .modal_form {
    width: 90vw !important;
    margin-left: 0 !important;
    margin-bottom: 10px;
  }

  .backgs {
    font-size: 9px;
  }

  .backg {
    box-sizing: content-box;
    padding: 0.2rem;
    background: #fff;
    border-radius: 0.3rem;
  }

  .thew {
    text-align: center;
    width: 30%;
    font-size: 11px;
  }
  .thew1 {
    text-align: center;
    width: 40%;
    padding: 20px;
    font-size: 13px;
  }

  .pd {
    padding: 0;
  }

  .bet_header_sections {
    margin-top: 58px !important;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 401px) and (min-width: 360px) {
  .cards:nth-child(2) {
    margin-bottom: 10px;
  }


  .footer_pay {
    width: 2.5rem !important;
    height: 21px !important;
    margin-right: 20px;
    padding-bottom: 5px;
}

  .soft{
    padding-top: 150px;
  }

  .instant_pay{
    display: none !important;
  }

  .span_h4 {
  font-size: 14px;
  color: #fff;
}

  .text-reset{
    font-size: 10px;
  }

  .text-reset:hover, .text-reset:focus{
    text-decoration: underline;

  }


.boxplay {
  border-radius: 8px;
  /* padding: 5px; */
  background: #000;
  display: block !important;
  /* margin: 5px !important; */
  color: #096115;
  height: 41%;
}

  .select_game{
    width: 125px !important;
  }

  .nav_img{
    width: 150px;
    height: 43px
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat;
}

  .game_head{
    display: none !important;
  }

  .colors {
  color: rgb(207, 54, 54);
  margin-top: 3px;
    font-size: 14px;
  cursor: pointer;
}

.white {
  color: #fff;
  font-size: 12px;
  margin-left: 0.5rem;
}

.check_drop{
  font-size: 12px !important;
}

    
  .lotto{
    margin-left: 1.5rem;
    margin-top: 15px;
    font-weight: 800;
    font-size: 15px;
  }

  /* .betHistory_section {
    justify-content: center;
    align-items: center;
    width: 94%;
    flex-direction: column;
    margin: 0.2rem;
    font-size: 10px;
    border: 1px solid grey;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background: #28a745;
  }

    .p_bets {
    padding-top: 0.2rem;
    color: #fff;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #fff;
  }

  .p_bets:last-child {
    border: none;
  }

  .bets_span {
    color: yellow;
  } */

.new{
  border: 1px solid red;
  color: #fff;
  background: red;
  font-size: 12px;
  width: 40px;
  padding: 5px;
  position: absolute;
  left: 47%;
  top: 67%;
  /* z-index: 2; */
}

.img_homes{
  width: 5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
}
.img_homes:hover, .img_homes:focus{
  width: 5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50%;
}
/* .img_home_div{
    position: absolute;
  left: 1.25em;
  top: 25em;
} */
.img_home_div{
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 90%;
  height: 100vh;
  margin-bottom: 70px;
}

.img_div:nth-of-type(1){
  padding-left: 10px;
}
.img_div:nth-of-type(2){
  padding-bottom: 42px;
}
.img_div:nth-of-type(3){
  padding-bottom: 42px;
}

    .home_bg {
  background-image: url("./static/assets/Mobile.png");
  height: 84vh;
  margin-top: 39px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

    .betHistory_section {
    justify-content: center;
    align-items: center;
    width: 94%;
    flex-direction: column;
    margin: 0.2rem;
    font-size: 10px;
    border: 1px solid grey;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background: #28a745;
  }

    .p_bets {
    padding-top: 0.2rem;
    color: #fff;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #fff;
    font-size: 11px;
  }

  .p_bets:last-child {
    border: none;
  }

  .bets_span {
    color: yellow;
  }

    .actives {
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  width: 87px;
  text-decoration: none;
  border-radius: 0.5rem;
}
    .activated {
  background: #219906 !important;
  color: #fff !important;
  padding: -2px !important;
  text-decoration: none;
  border-radius: 0.5rem;
}

  .cards:nth-child(3) {
    margin-top: 10px;
  }

  .texts {
    width: 100vw;
  }

  .text-center {
    width: 100vw;
  }

  .display {
    display: none;
  }

  .bet_header_sections {
    margin-top: 58px !important;
    margin-bottom: 100px;
  }
  .pd {
    padding: 0;
  }

  .scrollers {
    overflow-y: scroll;
    height: 400px;
  }

  .get_line {
    border-radius: 0.35rem;
    padding: 5px;
    font-size: 11px !important;
    margin-bottom: 10px;
    background: #0b4f14;
  }

  .coupon_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #096115;
    border-radius: 0.5rem;
    width: 80vw;
    margin-left: 5%;
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 10px;
  }
  .coupon_divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #096115;
    border-radius: 0.5rem;
    width: 80vw;
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 10px;
  }

  .svg_imgs_modal {
    width: 50vw;
    margin-top: 55px;
    margin: 1rem auto;
  }

  p.game_links {
    box-sizing: border-box;
    color: #fff;
    margin-top: 5px;
    font-size: 11px;
    text-decoration: none;
  }

  .modal_form {
    width: 90vw !important;
    margin-left: 0 !important;
    margin-bottom: 10px;
  }

  .backgs {
    font-size: 9px;
  }

  .backg {
    box-sizing: content-box;
    padding: 0.2rem;
    background: #fff;
    border-radius: 0.3rem;
  }

  .thew {
    text-align: center;
    width: 30%;
    font-size: 11px;
  }
  .thew1 {
    text-align: center;
    width: 40%;
    padding: 20px;
    font-size: 13px;
  }

  .balx {
    margin: 4px !important;
    width: 27px !important;
    height: 30px !important;
    padding: 3px 0px !important;
    background: #fff;
    border-radius: 5px !important;
    text-align: center !important;
    font-size: 11px !important;
  }

  a.game_links {
    box-sizing: border-box;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
  }

  .timer {
    font-size: 10px;
  }

  .navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    margin-right: -10px;
  }

  .win {
    width: 100%;
    height: inherit;
    text-align: center;
    background: #096115;
    color: #eaee1f;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 30px 5px 5px;
  }

  .show1 {
    display: none;
  }

  .scrollbar {
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .scroll_game {
    overflow-x: hidden;
    overflow-y: scroll;
    height: inherit !important;
    max-height: 71vh !important;
  }

  [class*="c-sidebar"] {
    margin-top: 38px;
    /* margin-left: 20px; */
    width: 97%;
    bottom: 0;
    min-width: 20rem;
    position: fixed;
    top: 40px;
    z-index: 1;
    transition: right 0.2s ease-out;
  }

  /* .bottom {
    margin-top: 70px;
    position: fixed;
    display: flex;
    bottom: 0;
    z-index: 1000;
    flex: 1 0 auto;
    width: 100%;
    border: 1px solid #eaee1f;
    background: #145723;
    color: #fff;
    flex-direction: row;
  } */

  .bottom {
    margin-top: 70px;
    position: fixed;
    /* display: flex; */
    bottom: 0;
    z-index: 1000;
    /* flex: 1 0 auto; */
    width: 100%;
    border: 1px solid #eaee1f;
    background: #145723;
    color: #fff;
    flex-direction: row;
  }

  .game_item {
    padding: 2px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border: 1px solid #eaee1f;
    cursor: pointer;
  }
  _ .game_item:focus {
    color: rgb(221, 221, 118);
  }

  .select_item {
    font-size: 10px;
  }

  .bet_count {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 0.71429rem;
    font-size: 13px;
    font-size: 0.92857rem;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 33vw;
    background-color: #375366;
    color: #fff;
  }

  .select_icon {
    font-size: 25px;
  }

  .select_item1 {
    font-size: 11px;
  }

  .small {
    margin-left: 0.5rem;
    width: 97vw;
    justify-content: center;
    align-items: center;
  }

  .game_header {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin-left: 0.5rem;
    padding-top: 0.25rem;
  }

  .game_type_desc {
    margin-left: 1.2rem;
    margin-top: 1rem;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
  }

  .register_game_section > h6 {
    color: #fff;
    font-weight: 100;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  .nav_img {
    margin-left: -24px;
  }

  .h5_small {
    font-size: 12px;
  }

  .express_p {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 0.2rem;
    padding: 0.8rem;
    margin-left: 10px;
    width: fit-content;
  }

  /* .form-control {
    width: 360px;
    margin-left: 7px;
  } */

  .game_svg {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .nav_form {
    margin-left: -10px;
  }

  .register_btn {
    color: #28a745 !important;
    border: 1px solid #28a745;
    font-size: 0.875rem;
    border-radius: 0.15rem;
    padding: 0.25rem 0.5rem;
    margin-top: 10px !important;
  }

  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    margin-right: -10px;
  }

  .smalls {
    margin-left: 1rem;
    width: 97vw;
    justify-content: center;
    align-items: center;
  }

  .lotto_btns {
    width: 9vw;
    padding: 0.3rem;
    border: 1px solid grey;
    border-radius: 0.2rem;
    background: none;
    margin: 2px;
  }

  .game_hamburger {
    width: 30px;
    color: #fff;
  }
  /* 
  .form-control {
    width: 85vw;
    margin-left: 0.5rem;
  } */

  #arrowAnim {
    width: 8vw;
    height: -1em;
    display: flex;
    margin-top: 7px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    width: 0vw;
    height: 2vw;
    border: 1vw solid;
    border-color: red transparent transparent red;
    transform: rotate(-45deg);
  }

  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
  }

  .delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(2vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-2vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-5vw);
    }
  }

  .game_btn {
    display: inline;
    width: 9vw;
    font-size: 14px;
    height: 25px;
    background: none;
    border-radius: 40%;
    margin: 2px;
    background: rgb(82, 79, 79);
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
  }
}

.btn_secondary {
  font-size: 12px;
}

.pay_btn {
  width: 20%;
}

.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #219906;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 20%;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.drop_section {
  margin-left: -4rem;
}

.btn_class {
  margin: 8px;
  margin-left: 1.2rem;
}

/* @media(max-width: 500px){
    .form-control{
       width: 90;
       margin-left: 10px;
    }
} */

.show_password {
  border: 1px solid #28a745;
  border-radius: 0.3rem;
  padding: 2px;
  margin-left: 4px;
  cursor: pointer;
}

.back {
  background: green;
  color: white;
}

.game_col {
  background: rgb(46, 46, 46);
}

.sidebar_dates {
  color: #fff;
  font-weight: 100;
  cursor: pointer;
}

.game_clicked {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}

.games_b {
  background: #28a745;
  border-color: #28a745;
  color: #fff;
}

.days_column.scrollbar > h6 {
  text-align: center;
}

.ballNumber {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

@media (min-width: 998px) {
  .img_width:first-child {
    margin-left: 2rem;
  }
}

@media (min-width: 695px) {
  .input_width {
    width: 80%;
  }

  .svg_imgs_modal {
    width: 20vw;
    margin-top: 55px;
    margin: 1rem auto;
  }
}

.str_red {
  color: red;
}

.img_width {
  width: 15vw;
  height: 20vh;
}

.nav_height {
  height: 70px;
}

footer.footer {
  background: #1f8236;
  bottom: 0;
}

.apple_btn {
  background: #fff;
  width: max-content;
  margin: 0.8rem;
  border-radius: 0.3rem;
  color: #1f8236;
}

.color1 {
  color: #1f8236;
}

.colorUp {
  color: grey;
  margin-top: 4px;
  cursor: pointer;
}



.actives:hover,
.actives:focus {
  text-decoration: none;
  padding: -4px !important;
}
.activated:hover,
.activated:focus {
  text-decoration: none;
  padding: -4px !important;
}

.color2 {
  color: #1f8236;
}

.socials_btn {
  width: max-content;
  margin: 0.8rem;
  border-radius: 0.3rem;
}

.color3 {
  color: #1877f2;
}

.color4 {
  background: #1877f2;
  color: white;
}

.color5 {
  color: #f24b18dc;
}

.reds {
  background: rgb(145, 143, 143);
  color: #fff;
  border-color: rgb(145, 143, 143);
}



.color6 {
  color: red;
}


.whites {
  color: #fff;
  font-size: 13px;
  margin-left: 0.5rem;
}
.hr {
  color: #fff;
  background: #fff;
  width: 35rem;
  border: 0.2px solid #fff;
}

.admin_form {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.admin_form:last-of-type {
  border-bottom: none;
}

.display_width {
  width: 200px;
}

div.games-container {
  width: 80vw;
}

section.games-card {
  background: #fbeb00;
  border-radius: 0.35rem;
  font-size: 10px;
}

section.games-card > h3.name {
  font-size: 2em;
}

section.games-card > button {
  color: #fff;
  padding: 0.5rem;
  background: #238828;
  border-radius: 0.35rem;
  width: 100%;
  height: 40px;
  font-size: 15px;
  display: inline;
}

.lottoApi_Link {
  background: #1f8236;
  width: 100%;
  font-size: 20px;
  padding: 0.32rem;
  border-radius: 0.25rem;
  color: #fff;
  text-decoration: none;
}

.lottoApi_Link:focus,
.lottoApi_Link:hover {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.loading {
  text-align: center;
  margin-top: 5rem;
}

.days_column {
  background: #28a745;
  height: max-content;
}

h6.draw {
  color: #fff;
  padding-top: 20px;
}

.days > h6 {
  color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 12px;
  font-weight: 100;
  border-top: 1px solid #fff;
  cursor: pointer;
}

.days > h6:first-child {
  padding-top: 20px;
  border: none;
}

.register_game_section {
  background: rgb(75, 71, 71);
  border-radius: 0.45rem;
}

.d_none {
  background: #555a56;
  height: fit-content;
}

.d {
  background: #28a745;
  border-radius: 0.35rem;
  height: 50px;
}

.game_back {
  margin: 0.2rem;
  font-size: 11px;
}

.gameShowName{
  border: .5px solid rgb(199, 194, 194);
  padding: 10px;
  color: #fff;
  border-radius: .4rem;
  
}
.gameShowName:hover, .gameShowName:focus{
  border: 2px solid #28a745;
  padding: 10px;
  background: #28a745;
  color: white;
  border-radius: .4rem;

}                          

.bet_section {
  height: 56vh;
  max-height: 80vh;
  border: 2px solid #000;
  border: 0.25rem;
  width: 100%;
  padding: 10px;
}

.game_slip_btn {
  background: #145723;
  box-sizing: content-box;
  padding: 7px;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  border-radius: #fff;
}

.game_slip_btn:hover,
.game_slip_btn:focus {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.game_h6 {
  color: #fff;
  font-weight: 200;
  font-size: 11px;
}

.p_type {
  color: #fff;
  margin-bottom: 10px;
}

.cancel_game {
  cursor: pointer;
  width: 12px;
  color: grey;
}

.get_line > button.games {
  margin-top: 1px;
}

.news {
  background: grey;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.verify {
  border: 1px solid #fff;
  width: 50vw;
  padding: 20px;
}

.btns {
  color: #28a745;
  border: 1px solid #28a745;
  border-radius: 0.15rem;
  padding: 0.35rem;
}

.error_message {
  color: hsl(0, 100%, 50%);
}

.btns:hover,
.btns:focus {
  background: #28a745;
  color: #fff;
  text-decoration: none;
}

.validate_span {
  color: red;
  margin-bottom: 0.2rem;
}

.register_btn:focus,
.register_btn:hover {
  background: #28a745;
  color: #fff !important;
  text-decoration: none;
}

.form_btn > span {
  margin-top: 15px !important;
}

.form_btn > span > a {
  box-sizing: content-box;
  padding-bottom: 5px;
}

.register_btn#btn {
  margin-top: 5px;
}

.profile_link {
  margin-top: 0.7rem;
  color: rgba(0, 0, 0, 0.5) !important;
}

.profile_link > a.link {
  color: rgba(0, 0, 0, 0.5);
}

.profile_link > a.link:focus,
.profile_link > a.link:hover {
  text-decoration: none;
  color: #28a745;
}

.btns.reset_validate_btn {
  margin-top: 0.65rem !important;
}

button.profile_btn {
  background: none;
  border: none;
  font-weight: 200;
  font-size: 12px;
  color: rgb(67, 65, 65);
}

select.select {
  border: none;
}

.nav_dropdown {
  background: none !important;
}

a.links {
  text-decoration: none;
  color: grey;
}

.header_class {
  line-height: 1.2;
  line-break: auto;
}

p.profile_paragraph:first-child {
  padding-left: 10px;
}

button.profile_btn:focus {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  transition: ease-in 1s;
  border-bottom: 2px solid #28a745;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

div.paragraph_header {
  width: inherit;
  background: #28a745;
  padding-top: 10px;
}

p.profile_paragraph {
  font-size: 12px;
  color: #fff;
}

.disabled {
  pointer-events: none;
}

.game_section_svg {
  width: 23vw;
}

.svg_img {
  width: 50vw;
}
.svg_imgs {
  width: 30vw;
  margin-top: 55px;
}

.red {
  background: red;
  color: #fff;
  border-color: red;
}

.game_span {
  font-size: 10px;
}

/* lotto_express */

.bet_header {
  font-size: 20px;
  color: #28a745;
  margin-top: 5rem;
}

.express_p:hover,
.express_p:focus {
  background: #28a745;
  color: #fff;
}

.lottoExpress {
  background: red;
  color: #fff;
}

.p_red {
  color: red;
}

.green {
  color: #28a745;
}

.sub_section {
  overflow-y: scroll;
}

.App {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 10px;
}

.time {
  font-size: 32px;
}

.result_border {
  border: 1px solid #28a745;
  font-style: sans-serif;
  border-radius: 0.3rem;
  padding: 10px;
}

a.gamelinks:hover,
a.game_links:focus {
  text-decoration: none !important;
  color: #fff;
}

.p_white {
  color: #fff;
  margin-top: 38px !important;
}

.sidebarList_items {
  padding: 10px;
}

.sidebarList_items:hover,
.sidebarList_items:active {
  background: grey;
  border-radius: 0.5rem;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.background {
  background: #000 !important;
}

.display2 {
  visibility: hidden;
}

.getLogged {
  background: rgba(204, 199, 199, 0.075);
}

.sub_divs {
  border: 1px solid #28a745;
  border-radius: 0.3rem;
  padding: 5px;
  margin-left: 11px;
  margin-bottom: 5px;
  width: 90vw;
  background: #fff;
}

.background2 {
  background: grey;
}

.htext {
  border: 3px solid seagreen !important;
  color: #e4d062;
  text-align: center;
  border-radius: 10px;
  overflow: visible;
  margin-top: 10px;
  position: relative;
}
.htext:last-child {
  margin-bottom: 10px;
}

.fred {
  font-weight: bolder;
  font-style: oblique;
}
.bg-gradient-2 {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
  background: linear-gradient(to right, #654ea3, #eaafc8);
}
.fred2 {
  height: auto !important;
}
.htext {
  border: 3px solid seagreen;
  color: #e4d062;
  text-align: center;
  border-radius: 10px;
  overflow: visible;
  position: relative; /* parent must not be statically positioned */
}

.hicon {
  position: absolute;
  top: -20px;
  left: 250px;
}
.hsm {
  font-size: 12px;
  color: #e4d062;
  font-weight: bolder;
}
.hkm {
  font-size: 10px;
  color: #fff;
  font-weight: bolder;
}
.mbox {
  background: #096115;
  color: #eaee1f;
  font-size: 12px;
  text-align: center;
}
.mgames {
  background: #daf7de;
  color: #096115;
  font-size: 12px;
  text-align: center;
}


.playbody {
  background: #000 !important;
}

.clear {
  display: flex;
  justify-content: space-between;
}

.headna {
  background: #096115;
}
.mbox1 {
  background: #096115;
  color: #daf7de;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
.mgames1 {
  background: #70b879;
  color: #fff;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
.mybo {
  border: 3px solid #096115;
  color: #fff;
  font-style: normal;
  width: 100%;
  height: 60vh;
}

.real{
  background: red !important;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
li {
  font-size: 12px;
  padding: 10px;
}

.black_bg {
  background: rgb(26, 25, 25);
  margin-top: 7px;
}

.game:first-of-type {
  margin: 0;
}

.game {
  font-size: 9px;
  margin: 1px;
}

.ball {
  margin: 6px !important;
  width: 95px !important;
  padding: 8px 0px !important;
  border-radius: 15px !important;
  text-align: center !important;
  font-size: 12px !important;
}

.zoom-in-zoom-out {
  font-size: 20px;
  background: red;
  animation: 5s ease-out infinite;
  border-radius: 0.3rem;
}

.class {
  color: grey;
}

.class:hover,
.class:focus {
  text-decoration: underline;
}

.yellow {
  text-align: center;
}

@media only screen and (min-width: 766px) {
  .date_selector{
    width: 50%;
    margin-right: 90px;
  }

  .align_all {
    margin-left: 175px !important;
    margin-right: 38px !important;
}
}

.game_bottom{
  margin-bottom: 190px;
}


@media only screen and (max-width: 765px) {
  .date_selector{
    width: 100% !important;
    height: 34px;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: -14px;
  }

  .get_flex{
    flex-direction: column;
  }

  .margin_bottom{
    margin-bottom: 40px !important;
  }

  .chooser{
    width: 100% !important;
    height: 32PX;
    margin-top: 7px;
    margin-left: -18px;
  }
}

.register_link {
  color: #cd0c02;
  cursor: pointer;
  text-decoration: underline;
}

.register_link:hover,
.register_link:focus {
  color: #cd0c02;
  cursor: pointer;
  text-decoration: underline;
}

.border-bottm {
  border-bottom: 1px solid grey;
}

.admin_p {
  color: #096115;
  font-size: 13px;
}

.admin_p > .p {
  cursor: pointer;
}
.admin_p > .p:hover,
.admin_p > .p:focus {
  background: #70b879;
  border-radius: 0.3rem;
  padding: 4px;
}

.redz {
  background: red;
  font-size: 10px;
  color: #fff;
  width: fit-content;
  padding: 2px;
  border-radius: 0.4px;
}

.search {
  font-size: 25px;
  font-weight: 100;
}

.div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.verify {
  cursor: pointer;
  border: 1px solid #70b879;
  padding: 10px;
  border-radius: 0.5rem;
  width: fit-content;
}

.verify:hover,
.verify:focus {
  background: #70b879;
}

.amount_sections {
  width: 60vw;
  margin: 3rem auto 2rem auto;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border-radius: 0.4rem;
  padding: 20px;
}

.scrollersx {
  overflow-y: scroll;
  height: 450px;
  width: 63vw;
}

@media(min-width: 766px) {
  .about_section{
  margin: 5rem 4rem;
}

.shown{
  display: none;
}
}

@media(max-width: 765px) {
  .about_section{
  margin: 5rem 1rem;
}

/* .p_width{
  width: 0;
} */

.shown{
  display: inline;
}

.h5_div{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h5.green.h5{
  font-size: 13px;
}

.green.h{
  font-size: 13px;
}

.soft-lotto{
  margin-bottom: 120px !important;
}
}



.about_h4{
  border-bottom: 1px solid green;
  padding-bottom: 20px;
}

.about_p:first-of-type{
  margin-top: 20px;
}

.about_p{
  margin-bottom: 50px;
}

.choose_pay{
  /* border: 3px solid green; */
  /* width: 180px; */
  text-align: center;
  padding: 20px 20px 0px 20px;
  cursor: pointer;
}

.choose_pay:hover, .choose_pay:focus{
  border-bottom: 3px solid green;
}

.sign_up{
  margin: 4px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.payment_h5{
  background: green;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 97%;
  height: 42px;
  margin: 1rem auto;
}

.days_div{
  background: grey;
  padding: 6px;
  color: #fff;
  display: block;
  border-radius: .5rem;
  cursor: pointer;
  /* position: absolute; */
}
.num_span{
  border: 1px solid rgb(150, 150, 46);
  padding: 3px;
  border-radius: .3rem;
  font-weight: 700;
  font-size: 13px;
  margin-right: 5px;
}

.num_span1{
  border: 1px solid rgb(0, 174, 255);
  padding: 3px;
  border-radius: .3rem;
  color: red;
  font-weight: 700;
  font-size: 13px;
  margin-right: 5px;
}

.palce_bet{
  color: #fff;
  font-size: 13px;
  background: red;
  padding: 5px;
  border-radius: .3rem;
}

.palce_bet:hover, .palce_bet:focus{
  text-decoration: underline;
  /* color: gr; */
}

.pay_div{
  display: flex;
  justify-content: center;
}

.active_p{
    background: green;
  padding: 10px;
  color: #fff;
  border-radius: .3rem;
  margin-right: 10px;
}


.get_active:hover, .get_active:focus{
  background: green;
  padding: 10px;
  color: #fff;
  border-radius: .3rem;
}

.rest_link{
  color: blue;
  text-decoration: underline;
}
/* .game_btn{
  display: flex;
  flex-direction: column;

} */

/* .c-bottom-nav-bar-item:nth-child(n+3):nth-child(-n+3) {
    background-color: #9e2626;
}

.c-bottom-nav-bar-item.active {
    color: #ffcb00;
} */

/* [class*=c-sidebar][class*="--bet-slip"] {
    background: #3d3e3f;
    color: #2b2c2d;
    right: -100%;
    overflow-y: hidden;
    transition: right .2s ease-out;
}

[class*=c-sidebar][class*="--bet-slip"] {
    background: rgba(0,0,0,.8);
} */

/* [class*=c-sidebar] {
    /* position: fixed; */
